<div class="col-span-12">
  <%= render 'shared/auth_form', header_title: "Sign in" do %>
    <%= render 'form' %>
  <% end %>
  <div class="mt-9">
    <p>Don't have an account? <%= link_to "Sing up and get started!", "#", class: "text-gv-pistachio font-semibold underline underline-offset-2" %></p>
  </div>
</div>
