<h3>Bienvenido <%= @user.username %>, gracias por unirte a nosotros!</h3>
<p>Para poder tener acceso a <mark>newline blog</mark> tienes que confirmar tu email haciendo click en el enlace de abajo.</p>
<p><%= link_to "Haz click aquí para confirmar tu cuenta", "#" %></p>
