<div class="col-span-12 mt-12 flex flex-row justify-start items-center gap-5">
  <div class="user-picture">
    <i class="fa-solid fa-circle-user w-16 h-16"></i>
  </div>
  <div class="col-span-12">
    <div class="username"><%= user.username %></div>
    <%= link_to "Editar perfil", "#", class: "text-green-600" %>
  </div>
</div>