<div class="col-span-12">
  <%= turbo_frame_tag "signup_form" do %>
    <%= render 'shared/auth_form', header_title: "Sign up" do %>
      <%= render 'form', user: @user %>
    <% end %>
    <div class="mt-9">
      <p>Already have an account? <%= link_to "Login", login_path,
                                      class: "text-gv-pistachio font-semibold underline underline-offset-2",
                                      data: { turbo_frame: "_top" } %>
      </p>
    </div>
  <% end %>
</div>
