<%= turbo_frame_tag 'content', class: 'col-span-12' do %>
  <% unless posts.empty? %>
    <section class="cards col-span-12">
      <% posts.each do |post| %>
        <%= render 'shared/post_card', post: post %>
      <% end %>
    </section>
  <% else %>
    <p>Nothing to show yet</p>
  <% end %>
<% end %>
