<% unless posts.empty? %>
  <div class="cards">  
    <% posts.each do |post| %>
      <div class="card_<%= post.id %>">
        <div class="image"><%# This div would be replaced later with image tag %></div>
        <div class="body">
          <h1><%= post.title %></h1>
          <p><%= post.description  %></p>
          <%= link_to "Leer más", "/posts/#{post.user.username}/#{post.title}" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Nothing to show yet</p>
<% end %>