<section class="cards col-span-12">
  <% unless posts.empty? %>
    <%= turbo_frame_tag 'posts', class: 'col-span-12' do %>
      <% posts.each do |post| %>
        <%= render 'shared/post', post: post %>
      <% end %>
    <% end %>
  <% else %>
    <p class="mt-5 text-center text-gv-oasis-400">No posts founded with this name or tag</p>
  <% end %>
</section>
