<div class="cards">
  <% unless posts.empty? %>
    <%= turbo_frame_tag 'posts', class: 'flex flex-col md:justify-start md:flex-row lg:flex-col gap-4 md:flex-wrap' do %>
      <% posts.each do |post| %>
        <%= render 'shared/post', post: post %>
      <% end %>
    <% end %>
  <% else %>
    <p class="mt-5 text-center text-gv-oasis-400">No posts founded with this name or tag</p>
  <% end %>
</div>
