<footer class="col-span-12 p-2 flex flex-row justify-between mt-10 text-gv-oasis-400">
  <div>© 2023 NewLine</div>
  <div class="flex justify-between items-center w-24">
    <%= link_to "https://github.com/nlinedev", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fa-brands fa-github w-5 h-5 shrink-0"></i>
    <% end %>
    <%= link_to "https://www.youtube.com/@NewLineDev", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fa-brands fa-youtube w-5 h-5 shrink-0"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/newline.dev/", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fa-brands fa-instagram w-5 h-5 shrink-0"></i>
    <% end %>
  </div>
</footer>
