<footer class="col-span-12 p-2 border-2 border-black flex flex-row justify-between absolute bottom-0 w-full mt-10">
  <div>© 2023 NewLine</div>
  <div class="flex justify-between items-center w-24">
    <i class="fa-brands fa-github w-5 h-5 shrink-0"></i>
    <i class="fa-brands fa-youtube w-5 h-5 shrink-0"></i>
    <i class="fa-brands fa-instagram w-5 h-5 shrink-0"></i>
  </div>
</footer>