<%= turbo_frame_tag "search-bar", class: "hidden md:flex flex-col justify-center w-full xs:absolute md:relative" do %>
  <% if agent_mobile? %>
    <%= link_to :back, data: { turbo_frame: "_top" } do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  <% end %>
  <%= form_with url: search_path, method: :get, class: "relative w-full", data: { turbo_frame: "_top" } do |f| %>
    <%= f.text_field :q, placeholder: "Buscar", class: "w-full bg-gv-dark-jungle border-2 border-black rounded-lg placeholder:text-gv-oasis-400 text-gv-oasis focus:ring-0 focus:border-black" %>
    <button type="submit" class="absolute right-0 bg-zinc-900 h-full px-4 border-2 border-black border-l-0 rounded-tr-lg rounded-br-lg">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  <% end %>
<% end%>
