<nav class="col-span-12 flex flex-col justify-start">
  <%= link_to "Profile settings", profile_settings_path %>
  <%= link_to "Notifications", notification_settings_path %>
  <%= link_to "Password", password_settings_path %>
  <%= link_to "Delete account", delete_settings_path %>
</nav>
