<nav class="col-span-12 flex flex-col justify-start gap-2 md:col-start-1 md:col-span-2 md:mt-8">
  <%# TODO: Change profile settings to account settings  %>
  <%= link_to "Profile settings", profile_settings_path %>
  <%= link_to "Notifications", notification_settings_path %>
  <%= link_to "Password", password_settings_path %>
  <%= link_to "Delete account", delete_settings_path %>
</nav>
