@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html{ 
    font-family: 'Archivo', sans-serif;
  }

  html, body {
    height: 100%;
  }

  .hide-side-menu {
    transform: translateX(-110%);
  }

  .ss-main {
    background-color: #1D2021 !important;
    border: 2px solid black !important;
  }

  .ss-main:focus {
    box-shadow: none !important;
  }
  
  .ss-content {
    background-color: #1D2021 !important;
    border: 2px solid black !important;  
  }
  
  .ss-option {
    color: #FBF5D7 !important;
  }

  .ss-search input {
    background-color: #1D2021 !important;
  }
}

@layer components {
  .burguer-menu-lines {
    @apply w-full h-1 block rounded-lg bg-slate-950 absolute top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/2 transition-all duration-500;
  }

  .top-line {
    transform: translate(-50%, -13px);
  }
  .bottom-line {
    transform: translate(-50%, 8px);
  }

  .openmenu .top-line {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .openmenu .bottom-line {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .openmenu .mid-line {
    width: 0;
  }
}
