@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html{ 
    font-family: 'Archivo', sans-serif;
  }

  html, body {
    height: 100%;
  }

  #tags-selected {
    margin-bottom: 10px;
  }

  #tags-autocomplete {
    scrollbar-color: #414141b9 #181818ef;
  }

  .body {
    scrollbar-color: #414141b9 #181818ef;
  }
}

@layer components {
  .signout form,
  .signout form button {
    @apply w-full text-left flex flex-row gap-2 items-center;
  }

  .read-post h1,
  .read-post h2,
  .read-post h3,
  .read-post h4,
  .read-post h5,
  .read-post h6 {
    @apply text-balance mt-11 mb-4;
  }

  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
  h4 { @apply text-lg; }
  h5 { @apply text-base; }
  h6 { @apply text-sm; }

  .read-post p, pre {
    @apply mb-5;
  }

  .read-post p:has(img) {
    @apply flex justify-center items-center;
  }

  .read-post li {
    @apply list-disc ml-7;
  }

  .read-post code {
    @apply border-2 border-black shadow-hard rounded-md;
  }

  .related-content article {
    @apply lg:basis-[48.9%] min-h-[254px];
  }
}


