@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html{ 
    font-family: 'Archivo', sans-serif;
  }

  html, body {
    height: 100%;
  }

  #tags-selected {
    margin-bottom: 10px;
  }

  #tags-selected li {
    background-color: #458588;
    border-radius: 9px;
    padding-left: 8px;
  }
}

@layer components {
  
  .signout form,
  .signout form button {
    @apply w-full text-left flex flex-row gap-2 items-center;
  }
}


